<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- https://classic.gazebosim.org/tutorials?tut=ros_gzplugins#Camera -->
    <gazebo reference="rgb_camera">
        <material>Gazebo/Red</material>

        <sensor name="rgb_camera_sensor" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>30.0</update_rate>

            <camera name="rgb_camera">
                <horizontal_fov>1.15</horizontal_fov>
                <vertical_fov>0.71</vertical_fov>
                <image>
                    <width>2304</width>
                    <height>1296</height>
                    <format>R8G8B8</format>
                </image>
                <distortion>
                    <k1>0.0</k1>
                    <k2>0.0</k2>
                    <k3>0.0</k3>
                    <p1>0.0</p1>
                    <p2>0.0</p2>
                    <center>0.5 0.5</center>
                </distortion>
            </camera>

            <!--
            https://github.com/ros-simulation/gazebo_ros_pkgs/blob/ros2/gazebo_plugins/include/gazebo_plugins/gazebo_ros_camera.hpp -->
            <plugin name="rgb_camera_controller" filename="libgazebo_ros_camera.so">

                <ros>
                    <remapping>image_raw:=image_raw</remapping>
                    <remapping>camera_info:=camera_info</remapping>
                </ros>

                <camera_name>rgb_camera</camera_name>
                <frame_name>rgb_camera</frame_name>

            </plugin>
        </sensor>
    </gazebo>

</robot>